@using DVDManagement.ViewModel;
@model IEnumerable<CientViewModel>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Client" asp-action="Create">Create new customer</a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>customer Name</th>
            <th>Borrowed Movie count</th>
            <th>Edit customer</th>
            <th>Delete customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cientViewModel in Model)
        {
            <tr>
                <td>@cientViewModel.Client.ClientId</td>
                <td>@cientViewModel.Client.Name</td>
                <td>@cientViewModel.DvdCount</td>
                <td><a class="btn btn-info" asp-area="" asp-controller="Client" asp-action="Update" asp-route-id="@cientViewModel.Client.ClientId">Edit</a></td>
                <td><a class="btn btn-danger" asp-area="" asp-controller="Client" asp-action="Delete" asp-route-id="@cientViewModel.Client.ClientId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>