@using DVDManagement.Data.model
@model Actor
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>@Model.Name</p>
        </div>
        <div class="panel-body">
            <h2>Movie count: @Model.Dvds?.Count</h2>
            <div class="btn-group">
                @if (Model.Dvds?.Count == 0)
                {
                <a class="btn btn-default" asp-area="">View Movie list</a>
                }
                else
                {
                    <a class="btn btn-info" asp-area="" asp-controller="DVD" asp-action="List" asp-route-authorId="@Model.ActorId">View Movie list</a>
                }
                <a class="btn btn-info" asp-area="" asp-controller="Actor" asp-action="Update" asp-route-id="@Model.ActorId">Edit</a>
                <a class="btn btn-danger" asp-area="" asp-controller="Actor" asp-action="Delete" asp-route-id="@Model.ActorId">Delete</a>
            </div>
        </div>
    </div>
</div>